<p id="notice"><%= notice %></p>

<center>
<br> Автор: 
 <div id= mn> <%= @book.author %> </div> 


<br> Назва:
   <div id= mn><%= @book.name %> </div>


<%= link_to 'Редагувати', edit_book_path(@book) %> |
<%= link_to 'Повернутись', books_path %>

<br><br>
<H3>
 <%= link_to "Додати Роздiл ", new_book_post_path(@book) %> 
</center></H3>
  <br> <H4>Роздiли: </H4>
 

  
 <p> <% @book.posts.each do |post| %>
   <p> <br> <H4> <b> <%= link_to post.name, "/books/#{@book.id}/posts/#{post.id}" %> </b> </H4> 
         <%=link_to 'Переглянути', "/books/#{@book.id}/posts/#{post.id}" %>
       | <%=link_to 'Редагувати', edit_book_post_path(@book, post.id) %> 
       | <%=link_to 'Видалити', book_post_path(@book, post.id), :method => :delete %> 
   <br>
   <div class="hero-unit">
        <%# Sanitize interprets html and escapes some tags. Raw and html_safe doesn't escape %>
        <%=raw truncate(post.body, length: 500, separator: ' ')%> 
   </p>
   </div> 
   <% end %>
 </p>
<br>

  <%#= render "posts/form" %>

