<p id="notice"><%= notice %></p>

<br> Автор: 
 <div id= mn> <%= @book.author %> </div> 


<br> Назва:
   <div id= mn><%= @book.name %> </div>


<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>

<br>
<p>
  <br><H4>Роздiли: </H4>
  <%= link_to "Новий роздiл ", new_book_post_path(@book) %> 
</p>
  
 <p> <% @book.posts.each do |post| %>
   <p> <br> <H4> <b> <%= link_to post.name, "/books/#{@book.id}/posts/#{post.id}" %> </b> </H4> 
         <%=link_to 'Show', "/books/#{@book.id}/posts/#{post.id}" %>
       | <%=link_to 'Edit', edit_book_post_path(@book, post.id) %> 
       | <%=link_to 'Destroy', book_post_path(@book, post.id), :method => :delete %> 
   <br>
        <%=post.body%> 
   </p> 
   <% end %>
 </p>
<br>

  <%#= render "posts/form" %>

