<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @post.name %>
</p>

<p>
  <b>Body:</b>
  <%= @post.body %>
</p>

<h2> Comments: </h2>
<%= @post.comments.each do |comment| %>
  <p>
    <b> Commenter:</b>
    <%=comment.commentor %>
  </p>

  <p>
    <b> Comment: </b>
    <%=comment.body %>
  </p>
 <% end %>




<%= link_to 'Edit', edit_book_post_path(@book, @post)  %> |
<%= link_to 'Back', book_posts_path(@book) %>


