<p id="notice"><%= notice %></p>

<p>
  <b>Назва:</b>
  <%= @post.name %>
</p>

<p>
  <b>Вмiст:</b>
  <div class="hero-unit">
  <%=raw @post.body %>
</p>
</div>

<h2> Коментарi: </h2>
<%= @post.comments.each do |comment| %>
  <p>
    <b> Автор:</b>
    <%=comment.commentor %>
  </p>

  <p>
    <b> Коментар: </b>
    <%=comment.body %>
  </p>
 <% end %>




<%= link_to 'Редагувати', edit_book_post_path(@book, @post)  %> 
<%= link_to 'Повернутись', book_path(@book) %>
<%#= link_to 'Back', book_posts_path(@book) %>
<%#= link_to 'Destroy', book_post(@book), method :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Видалити', "/books/#{@book.id}/posts/#{@post.id}", :method => :delete %>
